.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px; /* Adjust height as needed */
    z-index: 1000;
    background-color: #ecc47e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .gradient-container {
    height: 150px;
    transform: rotate(-20deg);
    margin-top: -80px;
  }
  
  .diagonal-gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ecc47e, #c29d6d);
  }
  
  .content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 50px;
  }
  
  .left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .back-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .back-text {
    margin-left: 5px;
    font-size: 18px;
    color: black;
  }
  
  .banner-text {
    font-size: 16px;
    font-weight: 600;
    color: #210a03;
    margin-top: 30px;
  }
  
  .qld-gov-logo {
    width: 200px;
    height: 100px;
    object-fit: contain;
  }
  