.container {
  background-color: #ffffff;
  min-height: 100vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.scrollViewContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 15px 20px;
}
.buttonText {
  font-size: 19px;
  color: #333;
  flex: 1 1 0;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;

  align-self: center;
}
.feedbackButton {
  background-color: #e74c3c;
  margin: 20px;
  padding: 15px;
  align-items: center;
  border-radius: 10px;
  text-align: center;
}
.feedbackText {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.logout {
  background-color: #c0392b;
  padding: 15px;
  margin: 0 20px 20px 20px;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.logoutText {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
  display: block;
  margin: 20px auto;
}
.details {
  text-align: center;
  width: 100px;
}

/* Switch style */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
  margin-left: 10px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: #767577;
  transition: .4s;
  border-radius: 24px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #f4f3f4;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #81b0ff;
}
input:checked + .slider:before {
  transform: translateX(22px);
  background-color: #f5dd4b;
}