html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ffffff; /* Match manifest background_color */
}

body {
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
  background-color: #ffffff;
}
