html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

html.plt-ios.plt-pwa {
  height: 99.9vh !important;
}

body {
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
  background-color: #ffffff;
}
body, input, button, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}